.public-cointainer{
    background: linear-gradient( rgba(255, 0, 0, 0.795), rgba(41, 3, 255, 0.5) ), url('/assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 127px - 62px);
    padding-top: 127px;
    padding-bottom: 62px;
}

::ng-deep mat-card-actions{
    gap: 10px !important;
}